# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
nombre_del_entorno/
venv/
ENV/
env.bak/
venv.bak/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Python virtual environment
*.pyc
*.pyo
*.pyd
.Python

# dotenv environment variables file
.env

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Flask and Django files
instance/
.webassets-cache

# macOS
.DS_Store

# Log files
*.log

# Local IDE and editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
